In [1]:
pip install numpy

Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matlablib

Collecting matlablib
  Downloading matlablib-1.3-py3-none-any.whl (3.9 kB)
Requirement already satisfied: matplotlib in d:\anaconda\lib\site-packages (from matlablib) (3.4.3)
Requirement already satisfied: ipython in d:\anaconda\lib\site-packages (from matlablib) (7.29.0)
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (from matlablib) (1.3.4)
Requirement already satisfied: backcall in d:\anaconda\lib\site-packages (from ipython->matlablib) (0.2.0)
Requirement already satisfied: decorator in d:\anaconda\lib\site-packages (from ipython->matlablib) (5.1.0)
Requirement already satisfied: jedi>=0.16 in d:\anaconda\lib\site-packages (from ipython->matlablib) (0.18.0)
Requirement already satisfied: pygments in d:\anaconda\lib\site-packages (from ipython->matlablib) (2.10.0)
Requirement already satisfied: matplotlib-inline in d:\anaconda\lib\site-packages (from ipython->matlablib) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in d:\anaconda\lib\site-packages (from ipython->matlablib) (5.1.0)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from ipython->matlablib) (0.4.4)
Requirement already satisfied: pickleshare in d:\anaconda\lib\site-packages (from ipython->matlablib) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in d:\anaconda\lib\site-packages (from ipython->matlablib) (58.0.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\anaconda\lib\site-packages (from ipython->matlablib) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\anaconda\lib\site-packages (from jedi>=0.16->ipython->matlablib) (0.8.2)
Requirement already satisfied: wcwidth in d:\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->matlablib) (0.2.5)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib->matlablib) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib->matlablib) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib->matlablib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib->matlablib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib->matlablib) (1.3.1)
Requirement already satisfied: numpy>=1.16 in d:\anaconda\lib\site-packages (from matplotlib->matlablib) (1.20.3)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib->matlablib) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas->matlablib) (2021.3)
Installing collected packages: matlablib
Successfully installed matlablib-1.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (0.24.2)
Requirement already satisfied: joblib>=0.11 in d:\anaconda\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in d:\anaconda\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.13.3 in d:\anaconda\lib\site-packages (from scikit-learn) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install flask

Requirement already satisfied: flask in d:\anaconda\lib\site-packages (1.1.2)
Requirement already satisfied: itsdangerous>=0.24 in d:\anaconda\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=5.1 in d:\anaconda\lib\site-packages (from flask) (8.0.3)
Requirement already satisfied: Werkzeug>=0.15 in d:\anaconda\lib\site-packages (from flask) (2.0.2)
Requirement already satisfied: Jinja2>=2.10.1 in d:\anaconda\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from click>=5.1->flask) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from Jinja2>=2.10.1->flask) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install seaborn

Requirement already satisfied: seaborn in d:\anaconda\lib\site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in d:\anaconda\lib\site-packages (from seaborn) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in d:\anaconda\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pandas>=0.23 in d:\anaconda\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: scipy>=1.0 in d:\anaconda\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in d:\anaconda\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: cycler>=0.10 in d:\anaconda\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
import seaborn as sns

In [10]:
import matplotlib.pyplot as plt

In [11]:
import warnings

#READING DATA

In [13]:
import pandas as pd
data =pd.read_csv("water_datax.csv",encoding='ISO-8859-1')
print(data)

     STATION CODE                                          LOCATIONS  \
0            1393               DAMANGANGA AT D/S OF MADHUBAN, DAMAN
1            1399  ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...
2            1475                                ZUARI AT PANCHAWADI
3            3181                        RIVER ZUARI AT BORIM BRIDGE
4            3182                       RIVER ZUARI AT MARCAIM JETTY
...           ...                                                ...
1986         1330            TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU
1987         1450  PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...
1988         1403                 GUMTI AT U/S SOUTH TRIPURA,TRIPURA
1989         1404                GUMTI AT D/S SOUTH TRIPURA, TRIPURA
1990         1726   CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA

            STATE  Temp D.O. (mg/l)   PH CONDUCTIVITY (µmhos/cm)  \
0     DAMAN & DIU  30.6         6.7  7.5                     203
1             GOA  29.8         5.7  7.2                     189
2             GOA  29.5         6.3  6.9                     179
3             GOA  29.7         5.8  6.9                      64
4             GOA  29.5         5.8  7.3                      83
...           ...   ...         ...  ...                     ...
1986          NAN   NAN         7.9  738                     7.2
1987          NAN    29         7.5  585                     6.3
1988          NAN    28         7.6   98                     6.2
1989          NAN    28         7.7   91                     6.5
1990          NAN    29         7.6  110                     5.7

     B.O.D. (mg/l) NITRATENAN N+ NITRITENANN (mg/l)  \
0              NAN                              0.1
1                2                              0.2
2              1.7                              0.1
3              3.8                              0.5
4              1.9                              0.4
...            ...                              ...
1986           2.7                            0.518
1987           2.6                            0.155
1988           1.2                              NAN
1989           1.3                              NAN
1990           1.1                              NAN

     FECAL COLIFORM (MPN/100ml) TOTAL COLIFORM (MPN/100ml)Mean  year
0                            11                             27  2014
1                          4953                           8391  2014
2                          3243                           5330  2014
3                          5382                           8443  2014
4                          3428                           5500  2014
...                         ...                            ...   ...
1986                      0.518                            202  2003
1987                      0.155                            315  2003
1988                        NAN                            570  2003
1989                        NAN                            562  2003
1990                        NAN                            546  2003

[1991 rows x 12 columns]

#LOADING DATSET

In [14]:
import pandas as pd
data =pd.read_csv("water_datax.csv",encoding='ISO-8859-1')
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [15]:
import pandas as pd
data =pd.read_csv("water_datax.csv",encoding='ISO-8859-1')
data.tail()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
1986,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",NAN,NAN,7.9,738,7.2,2.7,0.518,0.518,202,2003
1987,1450,"PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...",NAN,29,7.5,585,6.3,2.6,0.155,0.155,315,2003
1988,1403,"GUMTI AT U/S SOUTH TRIPURA,TRIPURA",NAN,28,7.6,98,6.2,1.2,NAN,NAN,570,2003
1989,1404,"GUMTI AT D/S SOUTH TRIPURA, TRIPURA",NAN,28,7.7,91,6.5,1.3,NAN,NAN,562,2003
1990,1726,"CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA",NAN,29,7.6,110,5.7,1.1,NAN,NAN,546,2003

#analysing te dataset

In [16]:
data.describe()

              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

In [18]:
data.shape

(1991, 12)

#handling missing value

In [19]:
data.isnull().any()

STATION CODE                        False
LOCATIONS                           False
STATE                               False
Temp                                False
D.O. (mg/l)                         False
PH                                  False
CONDUCTIVITY (µmhos/cm)             False
B.O.D. (mg/l)                       False
NITRATENAN N+ NITRITENANN (mg/l)    False
FECAL COLIFORM (MPN/100ml)          False
TOTAL COLIFORM (MPN/100ml)Mean      False
year                                False
dtype: bool

In [20]:
data.isnull().sum()

STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

#to check the datatype of the column

In [21]:
data.dtypes

STATION CODE                        object
LOCATIONS                           object
STATE                               object
Temp                                object
D.O. (mg/l)                         object
PH                                  object
CONDUCTIVITY (µmhos/cm)             object
B.O.D. (mg/l)                       object
NITRATENAN N+ NITRITENANN (mg/l)    object
FECAL COLIFORM (MPN/100ml)          object
TOTAL COLIFORM (MPN/100ml)Mean      object
year                                 int64
dtype: object