In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import pickle

In [31]:
data = pd.read_csv('data/water_dataX.csv', encoding ='Latin-1', low_memory= False)
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [32]:
data.describe()

              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

In [34]:
data['Temp'] = pd.to_numeric(data['Temp'], errors ='coerce')
data ['D.O. (mg/l)'] =pd.to_numeric(data['D.O. (mg/l)'],errors ='coerce')
data ['PH'] =pd.to_numeric(data['PH'],errors ='coerce')
data ['B.O.D. (mg/l)'] =pd.to_numeric(data['B.O.D. (mg/l)'],errors ='coerce')
data ['CONDUCTIVITY (µmhos/cm)'] =pd.to_numeric(data['CONDUCTIVITY (µmhos/cm)'],errors ='coerce')
data ['NITRATENAN N+ NITRITENANN (mg/l)'] =pd.to_numeric(data['NITRATENAN N+ NITRITENANN (mg/l)'],errors ='coerce')
data ['TOTAL COLIFORM (MPN/100ml)Mean'] =pd.to_numeric(data['TOTAL COLIFORM (MPN/100ml)Mean'],errors ='coerce')
print(data.dtypes)

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)    float64
FECAL COLIFORM (MPN/100ml)           object
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [35]:
data.isnull().sum()

STATION CODE                          0
LOCATIONS                             0
STATE                                 0
Temp                                 92
D.O. (mg/l)                          31
PH                                    8
CONDUCTIVITY (µmhos/cm)              25
B.O.D. (mg/l)                        43
NITRATENAN N+ NITRITENANN (mg/l)    225
FECAL COLIFORM (MPN/100ml)            0
TOTAL COLIFORM (MPN/100ml)Mean      132
year                                  0
dtype: int64

In [36]:
data['Temp'].fillna(data['Temp'].mean(),inplace =True)
data['D.O. (mg/l)'].fillna(data['D.O. (mg/l)'].mean(),inplace =True)
data['PH'].fillna(data['PH'].mean(),inplace =True)
data['CONDUCTIVITY (µmhos/cm)'].fillna(data['CONDUCTIVITY (µmhos/cm)'].mean(),inplace =True)
data['B.O.D. (mg/l)'].fillna(data['B.O.D. (mg/l)'].mean(),inplace =True)
data['NITRATENAN N+ NITRITENANN (mg/l)'].fillna(data['NITRATENAN N+ NITRITENANN (mg/l)'].mean(),inplace =True)
data['TOTAL COLIFORM (MPN/100ml)Mean'].fillna(data['TOTAL COLIFORM (MPN/100ml)Mean'].mean(),inplace =True)

In [37]:
data.drop(["FECAL COLIFORM (MPN/100ml)"], axis =1, inplace= True)

In [38]:
data = data.rename (columns = {'D.O. (mg/l)':'do'})
data = data.rename (columns = {'CONDUCTIVITY (µmhos/cm)':'co'})
data = data.rename (columns = {'B.O.D. (mg/l)':'bod'})
data = data.rename (columns = {'NITRATENAN N+ NITRITENANN (mg/l)':'na'})
data = data.rename (columns = {'TOTAL COLIFORM (MPN/100ml)Mean':'tc'})
data = data.rename (columns = {'STATION CODE':'station'})
data = data.rename (columns = {'LOCATIONS':'location'})
data = data.rename (columns = {'STATE':'state'})
data = data.rename (columns = {'PH':'ph'})

In [39]:
data.drop(["station"], axis =1, inplace= True)

In [40]:
data.drop(["location"], axis =1, inplace= True)
data.drop(["state"], axis =1, inplace= True)

In [41]:
data['npH']= data.ph.apply(lambda x:(100 if ( 8.5 >= x >= 7)
                                    else (80 if (8.6 >=x>= 8.5) or (6.9>=x>=6.8)
                                         else (60 if (8.8>= x >=8.6) or (6.8 >= x>=6.7)
                                              else (40 if (9>=x>=8.8) or (6.7 >=x>=6.4)
                                                   else 0)))))

In [42]:
data['ndo']= data.do.apply(lambda x:(100 if (x>=6)
                                   else (80 if (6>=x>=5.1)
                                        else (60 if (5>=x>=4.1)
                                             else(40 if (4>=x>=3)
                                                 else 0)))))

In [43]:
data['nco']= data.co.apply(lambda x:(100 if (5>=x>=0)
                                   else (80 if (50>=x>=5)
                                        else (60 if (500>=x>=50)
                                             else(40 if (10000>=x>=500)
                                                 else 0)))))

In [44]:
data['nbdo']= data.bod.apply(lambda x:(100 if (3>=x>=0)
                                   else (80 if (6>=x>=3)
                                        else (60 if (80>=x>=6)
                                             else(40 if (125>=x>=80)
                                                 else 0)))))

In [45]:
data['nec']= data.co.apply(lambda x:(100 if (75>=x>=0)
                                   else (80 if (150>=x>=75)
                                        else (60 if (225>=x>=150)
                                             else(40 if (300>=x>=225)
                                                 else 0)))))

In [46]:
data['nna']= data.na.apply(lambda x:(100 if (20>=x>=0)
                                   else (80 if (50>=x>=20)
                                        else (60 if (100>=x>=50)
                                             else(40 if (200>=x>=100)
                                                 else 0)))))

In [47]:
data['wph']= data.npH * 0.165
data['wdo']= data.ndo * 0.281
data['wbdo']= data.nbdo * 0.234
data['wec']= data.nec * 0.009
data['wna']= data.nna * 0.028
data['wco']= data.nco * 0.281
data['wqi']= data.wph+data.wdo+data.wbdo+data.wec+data.wna+data.wco
data

,Temp,do,ph,co,bod,na,tc,year,npH,ndo,...,nbdo,nec,nna,wph,wdo,wbdo,wec,wna,wco,wqi
0,30.600000,6.7,7.5,203.0,6.940049,0.100000,27.0,2014,100,100,...,60,60,100,16.5,28.10,14.04,0.54,2.8,16.86,78.84
1,29.800000,5.7,7.2,189.0,2.000000,0.200000,8391.0,2014,100,80,...,100,60,100,16.5,22.48,23.40,0.54,2.8,16.86,82.58
2,29.500000,6.3,6.9,179.0,1.700000,0.100000,5330.0,2014,80,100,...,100,60,100,13.2,28.10,23.40,0.54,2.8,16.86,84.90
3,29.700000,5.8,6.9,64.0,3.800000,0.500000,8443.0,2014,80,80,...,80,100,100,13.2,22.48,18.72,0.90,2.8,16.86,74.96
4,29.500000,5.8,7.3,83.0,1.900000,0.400000,5500.0,2014,100,80,...,100,80,100,16.5,22.48,23.40,0.72,2.8,16.86,82.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,26.209814,7.9,738.0,7.2,2.700000,0.518000,202.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,22.48,77.68
1987,29.000000,7.5,585.0,6.3,2.600000,0.155000,315.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,22.48,77.68
1988,28.000000,7.6,98.0,6.2,1.200000,1.623079,570.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,22.48,77.68
1989,28.000000,7.7,91.0,6.5,1.300000,1.623079,562.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,22.48,77.68
1990,29.000000,7.6,110.0,5.7,1.100000,1.623079,546.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,22.48,77.68

In [48]:
average= data.groupby('year')['wqi'].mean()

In [49]:
average.head()

year
2003    75.946818
2004    75.340000
2005    76.809916
2006    76.023429
2007    78.042833
Name: wqi, dtype: float64

In [50]:
x= data.iloc[:,0:7].values
y = data.iloc[:,7:].values

In [51]:
print(x.shape)
print(y.shape)

(1991, 7)
(1991, 14)

In [52]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
reg= linear_model.LinearRegression()
X_train, X_test, y_train, y_test = train_test_split (x,y, test_size = 0.2, random_state =10)
reg.fit(X_train, y_train)

LinearRegression()

In [53]:
from sklearn import metrics
y_pred = reg.predict(X_test)
print ('MAE :', metrics.mean_absolute_error(y_test, y_pred))
print ('MSE :', metrics.mean_squared_error(y_test, y_pred))
print ('RMSE :', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE : 7.092599227855064
MSE : 204.1784311456528
RMSE : 14.28910183131371

In [54]:
metrics.r2_score(y_test, y_pred)

0.31332329154881

In [56]:
import pickle
pickle.dump(reg,open('Model/waterquality.pkl','wb'))
print("Training process is complete Model File Saved!")

Training process is complete Model File Saved!